<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О тебе</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">
</head>
<body>
<body>

 <nav>
  <ul>
    <li>
      <a href="/gift">Подарок</a>
    </li>
    <li>
      <a href="/aboutyou">О тебе</a>
    </li>
    <li>
      <a href="/aboutwe">О нас</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</nav>

<h1 id="author">Create for Alya</h1>
<div id="'content">

    Алёночка, ты самая прелестная на земле. Ради тебя я готов свернуть горы.
    Ты безгранично красива и умна. Быть с тобой рядом - это счастье. И сделать тебя счастливой навсегда - моя миссия
    Твоя улыбка - что-то необыкновенное. Её сияние приводит в окружающих в экстаз, как и меня летом 2018. Я благодарен судьбе, что мы с тобой встретились

    Твой запах = манящий. Хочется стать твоим носом, чтоб всегда чувствовать его.

    Твои губы настолько сладкие, что я еле сдерживаюсь чтоб не съесть их

    Не могу не сказать о твоих формах. Они наивозбудительнейшие. От их вида так и хочется кричать и ласкать их. Ласкать и кричать одновременно. Всегда.


</div>

</body>
</html>