<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О тебе</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">
</head>
<body>
<body>

 <nav>
  <ul>
    <li>
      <a href="/gift">Подарок</a>
    </li>
    <li>
      <a href="/aboutyou">О тебе</a>
    </li>
    <li>
      <a href="/aboutwe">О нас</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</nav>

<h1 id="author">Create for Alya</h1>
<div id="'content">

    <video width="500px" height="500px" src="/static/video/IMG_1268.mov"></video>
    <video width="500px" height="500px" src="/static/video/IMG_0177.mov"></video>
    <video width="500px" height="500px" src="/static/video/IMG_8964.mov"></video>
    <video width="500px" height="500px" src="/static/video/about.mp4"></video>
    <img width="50%" src="/static/img/IMG_1665.jpeg">
    <img width="50%" src="/static/img/IMG_6479.jpeg">
    <img width="50%" src="/static/img/IMG_8673.jpeg">
    <img width="50%" src="/static/img/IMG_9662.jpeg">
    <img width="50%" src="/static/img/IMG_9781.jpeg">
</div>

</body>
</html>