<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О тебе</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">
</head>
<body>
<body>

 <nav>
  <ul>
    <li>
      <a href="/gift">Подарок</a>
    </li>
    <li>
      <a href="/aboutyou">О тебе</a>
    </li>
    <li>
      <a href="/aboutwe">О нас</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</nav>

<h1 id="author">Create for Alya</h1>
<div id="'content">

    Алёночка, ты самая прелестная на земле. Ради тебя я готов свернуть горы.
    Ты безгранично красива и умна. Быть с тобой рядом - это счастье. И сделать тебя счастливой навсегда - моя миссия


</div>

</body>
</html>