<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>С Днем Рождения, Аля</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='js/salut.css') }}" rel="stylesheet">

</head>



<body>

 <nav>
  <ul>
    <li>
      <a href="/gift">Подарок</a>
    </li>
    <li>
      <a href="/aboutyou">О тебе</a>
    </li>
    <li>
      <a href="/aboutwe">О нас</a>
    </li>
    <li>
        <a href="/open">Открытка</a>
    </li>
  </ul>
</nav>

 <div id="content" >
    <h1 id="quest">
       <h1> <span id="quest_1">Подарок свой просто так ты естественно не получишь. Для этого тебе надо пройти серию квестов
        За каждый правильный ответ ты будешь получать 1 символ от пароля для получения подарка. Всего будет 5 мини-квестов.
           Итак, первый. Тебе нужно нужно из всех подарочков выбрать 1 и под ним скрывается первый символ.
       </span></h1>

        <div hidden id="quest_2">
            <h1><span>Верно.</span>
                <span id="quest_text_1">Второй вопрос</span> </h1>
            <input id='quest_2_text' type="text" placeholder="Название компании">
            <button onclick="clickQuest2Btn()">Отправить</button>
        </div>

        <div hidden id='quest_3'>
            <span><h1>Верно.
                <p>Третий вопрос</p></h1></span>
            <input id='quest_3_text' type="text" placeholder="Ответ">
            <button id="quest_3_btn" onclick="clickQuest3Btn()">Отправить</button>
        </div>

        <div hidden id="quest_4">
            <span id="quest_4_text_1"><h1>Верно.
                <p><span id="quest_4_text_2">Четвертый вопрос</span></p></h1></span>
            <input id='quest_4_text' type="text" placeholder="4-й символ">
            <button id="quest_4_btn" onclick="clickQuest4Btn()">Отправить</button>
        </div>

        <div hidden id="quest_5">
            <h1><span>Последнее задание.</span>
        <span>В телеграмме добавь бота @happy_birthday_alya_bot, там будут дальнейшие инструкции</span></h1>
            <input id='quest_5_text' type="text" placeholder="5-й символ">
            <button id="quest_5_btn" onclick="clickQuest5Btn()">Отправить</button>
        </div>

        <div hidden id="finish" style="background:#fffff;">
            <h1><span>Супер. Теперь возьми пароль и посмотри на клавиатуре какое это русское слово.
                </span></h1>
             <script src="/static/js/salut.js"></script>

        </div>
    </div>

 </div>
 <script src="/static/js/gift.js"></script>

<h1 id="author">Create for Alya</h1>



</body>
</html>