<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>С Днем Рождения, Аля</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">

</head>



<body>

 <nav>
  <ul>
    <li>
      <a href="/gift">Подарок</a>
    </li>
    <li>
      <a href="#">О тебе</a>
    </li>
    <li>
      <a href="#">О нас</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</nav>

<h1 id="author">Demo by <a target="_blank" href="http://creative-punch.net/">Creative Punch</a></h1>

<script src="/static/js/heartfall.js"></script>


</body>
</html>