<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>С Днем Рождения, Аля</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">

</head>



<body>

 <nav>
  <ul>
    <li>
      <a href="/gift">Подарок</a>
    </li>
    <li>
      <a href="/aboutyou">О тебе</a>
    </li>
    <li>
      <a href="/aboutwe">О нас</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</nav>

 <div id="content">
     <img width="200px" height="200px" src="/static/img/dr.png">

     Алечка, пусечка, поздравляю тебя с твоим Днем Рождения! Желаю тебе оставаться такой же жизнерадостной,
     вечно милой
     В качестве поздравления, прими этот сайт-открытку. Можно приступать к получению подарка
 </div>

 <h1 id="author">Create for Alya</h1>


<script src="/static/js/heartfall.js"></script>


</body>
</html>