<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>С Днем Рождения, Аля</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link href="{{ url_for('static', filename='css/menu.css') }}" rel="stylesheet">

</head>



<body>
<img class="left" width="200px" height="200px" src="/static/img/sneg.png" style="float:left;margin:0 20px 20px 0;">
 <nav>
  <ul>
    <li>
      <a href="/gift">Подарок</a>
    </li>
    <li>
      <a href="/aboutyou">О тебе</a>
    </li>
    <li>
      <a href="/aboutwe">О нас</a>
    </li>
    <li>
      <a href="/open">Открытка</a>
    </li>
  </ul>
</nav>
 <img width="200px" height="200px" src="/static/img/devka.png" style="float:right;margin:0 20px 20px 0;">
 <div id="content">




     <h1>Поздравление</h1>

     <img width="400px" height="400px" src="/static/img/dog.png" style="float:center;margin:100px 20px 20px 500px;">
 </div>





<script src="/static/js/heartfall.js"></script>


</body>
 <h1 id="author">Create for Alya</h1>
</html>